{% extends "base.html" %}

{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{##}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
{#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
{#    <link rel="stylesheet" href="../static/css/main.css">#}
{##}
{#  </head>#}

  {% block content %}

      <div class="row no-gutters" style="height: 100%">
          <div class="col-md-3 px-0 text-center" style="margin-left: 5%; height: 100%; position: relative;">
              <div class="row no-gutters">
                  <div class="col-md-12 ">
                      <img src="../static/img/LekarzLekarz.png" class="rounded-circle img-fluid mt-5 mb-2 border border-secondary">
                      </br>{{ lekarz.imie + ' '  + lekarz.nazwisko}}


                  </div>
              </div>

              <div class="row no-gutters my-5">
                  <div class="col-md-2 "></div>
                  <div class="col-md-8 text-center" >
                      <div class="row">
                          <div class="col-md-12 my-2" ><h5>Udostępnione zdjęcia </h5>
                              {% for zdjecie in zdjecia %}
                                  <img class="m-1" src="{{'/' + zdjecie.sciezka }}">
                              {% endfor %}

                          </div>
                      </div>


                  </div>

                  <div class="col-md-2 no-gutters"></div>
              </div>

              <div class="row">
                  <div class="col-md-12">



                      <button id='analizazdjecia' type="button" class="btn btn-primary">Dokonaj analizy zdjęcia</button>

                  </div>
              </div>
              <div class="row" style="position: absolute; bottom: 0; width: 100%; margin-bottom: 40px">
                  <div class="col-md-12">
                      <h5>Dodaj zdjecie</h5>

                      <form id='dodajzdjecie' method=post enctype=multipart/form-data>
                          <p><input type=file name=file>
                              <input type=submit value=Upload>
                      </form>


                  </div>
              </div>

          </div>

          <div class="col-sm-6 py-4 chat-box">

              <div class="row no-gutters">
                  <div class="col-md-12">
                      <div class="no_message">
                          <div class="message_holder">
                              {% for message in chat_history %}
                                  <div class="msg_bbl">{{ message.nadawca + ': '+ message.zawartosc }}</div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row no-gutters message-box">
                  <div class="col-sm-12">

                      <form action="" method="POST" id="message">
                          <b>Napisz swoją wiadomość tutaj <span class="glyphicon glyphicon-arrow-down"></span></b>
                          <hr>
                          <div class="row">
                              <div class="col-sm-8" style="padding-top: 5px;">
                                  <input type="text" class="message form-control" placeholder="Wiadomość" id="myMessage" value="witam ta">
                              </div>

                              <div class="col-sm-4" style="padding-top: 5px;">
                                  <button type="submit" id="sendbutton" class="btn btn-success btn-block"><span class="glyphicon glyphicon-send"></span>  Wyślij</button>
                              </div>
                          </div>
                          <div style="padding-top: 5px;"></div>
                      </form>

                  </div>
              </div>


          </div>

          <div class="col-md-3">

          </div>
      </div>
  {% endblock %}


    {% block script %}

    $(document).ready(function () {
        let private_socket = io.connect('http://' + document.domain + ':' + location.port);

        $("img").click(function() {

            $("img").not(this).removeClass("hover");

            $(this).toggleClass("hover");

        });

        private_socket.on('connect', function(){
            private_socket.emit('connection', {
                user: '{{ session['imie'] + ' ' + session['nazwisko'] }}',
                user_id: '{{ pacjent['id'] }}',
                recipient_id: '{{ lekarz['id'] }}',
                chat_id: '{{ chat_id }}',
                is_doc: '{{ pacjent['czy_lekarz'] }}',
            });
        });

        private_socket.on('private_response', function (json) {
            let div = document.createElement('div');
            div.className += "msg_bbl";
            $('.message_holder').append(div);
            div.innerHTML = json['user'] + ': ' + json['message'];
        });

        private_socket.on('message', function(msg) {
            let div = document.createElement('div');
            div.className += "msg_bbl";
            $('.message_holder').append(div);
            div.innerHTML = msg;
        });

        private_socket.on('analysys_result', function(data) {
            $('.hover').css('border-color', data['border']);
        });


        $('#message').on('submit', function (e) {
            e.preventDefault();
            private_socket.emit('private_message', {
                message: $('#myMessage').val(),
                user: '{{ session['imie'] + ' ' + session['nazwisko'] }}',
                user_id: '{{ session['id'] }}',
                recipient: '{{ lekarz['imie'] + ' ' + lekarz['nazwisko'] }}',
                recipient_id: '{{ lekarz['id'] }}',
                chat_id: '{{ chat_id }}',
                is_doc: '{{ pacjent['czy_lekarz'] }}',
            });
            $('#myMessage').val('');
        });

        $('#analizazdjecia').on('click', function (e) {
            e.preventDefault();
            private_socket.emit('analyze_picture', {
                source: $('.hover').attr('src')
            });



        });



    });
    {% endblock %}
</html>
