{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
    <div class="row no-gutters" style="font-family: 'Nunito', sans-serif;">
            <div class="helloworld col-md-12 img-fluid">
                {% include 'includes/_messages.html' %}
                <br><br><br><br>
                <h1 style="color: white; font-size:6vh; text-align: center;"> Konsultacje z najlepszymi specjalistami</h1>
                <h2 style="color: #98dafc; font-size:6vh; text-align: center;">Nie wychodząc z domu</h2>
            </div>
    </div>
{% endblock %}
