{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}

    <div class="row informacjecontainer">
        <div class="col-md-12" style="text-align: center">

            <h3 style="text-align: center">Czym jest Portal E-lekarz i jak z niego korzystać ?</h3>
            Portal E-Lekarz stworzony jest, aby zapewnić jego użytkownikom wygodę korzystania z porad lekarskich, nie wychodząc z domu! <br>
            Gromadzimy najlepszych specjalistów z całego kraju, zapewniając najwyższy poziom usług. <br> <br>

            <img src="../static/img/informacje1.jpg" class="rounded img-fluid">

            <br><br><h4></h4>

            <h4> Jak korzystać z naszego Portalu ? </h4>
            Aby zacząć korzystać z naszego portalu, wystarczy zarejestrować się, klikając przycisk w prawym górnym rogu.<br>
            Po rejestracji oraz logowaniu, użytkownik może wybrać specjalistę z listy lekarzy, która znajduje się w górnej części strony. <br>
            Następnie, aby zacząć konsultację ze specjalistą, wystarczy kliknąć przycisk "Rozpocznij konsultację".
            <img src="../static/img/informacje2.JPG" class="img-fluid"><br>

            Wszystkie swoje konsultacje można znaleźć wchodząc w zakładkę swojego profilu. Wybrany lekarz odpowie na wiadomość użytkownika tak szybko jak to możliwe.

        <br><br><br>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
{% endblock %}