{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}

<div class="row no-gutters" style="height: 100%;">
    <div class="col-md-2 mojsidebar">
        <div class="row lekarztlo" style=" height: 140px;">

            <div class="col-md-12">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="paneluzytkownikaimienazwisko">
                    <h4> {{ session.imie }} {{ session.nazwisko }}</h4>
                    {% if session.logged_inL %}
                    <h6> specjalizacja: {{ session.specjalizacja }} </h6>
                    {% else %}
                    <h6> &nbsp;</h6>
                    {% endif %}
                </span>
                <img src="../static/img/Lekarzsredni.jpg" class="rounded-circle img-fluid profillekarzapicturesredni">
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                    <ul class="nav navbar-nav sidebar">
                        <li><a class="nav-link" href="{{ url_for('twojekonwersacje', identyfikator = session.id) }}"> <i class="far fa-envelope"></i> &emsp;Konsultacje</a></li>
                        <li><a class="nav-link" href="{{ url_for('twojeporady', identyfikator = session.id) }}"> <i class="fas fa-briefcase-medical"></i> &emsp;Porady lekarskie</a></li>
                        <li><a class="nav-link" href="{{ url_for('ustawieniaprofilu', identyfikator = session.id) }}"> <i class="far fa-edit"></i>&emsp; Edytuj profil</a></li>
                    </ul>
            </div>

        </div>

    </div>

    <div class="col-md-8">
        {% include 'includes/_messages.html' %}
        <br>


        {% block profile %}
        {% endblock %}
    </div>

    <div class="col-md-2">

    </div>
</div>



{% endblock %}

{% block sidebar %}
{% endblock %}