{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}




<br>
<div class="table-responsive mojatabela">
    <h1> Lista lekarzy</h1>
    <input type="text" id="myInput" placeholder=" &#xF002; Wyszukaj" style="font-family:Arial, FontAwesome; width: 100%">
    <table class="table table-striped table-rounded">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Zdjęcie</th>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Numer Telefonu</th>
                <th scope="col">Specjalizacja</th>
                <th scope="col">Profil</th>
                <th scope="col">Czat</th>

            </tr>
        </thead>
        <tbody id="myTable">
            {% for i in danekontaktowe %}
                <tr id="lista_lekarzy" class="text-center">
                    <td class="align-middle">
                        <img src="../static/img/lekarz.jpg" style="border-radius: 50%">
                    </td>

                    <td class="align-middle">
                        {{i.imie}} {{i.nazwisko}}
                    </td>

                    <td class="align-middle">
                        {{i.nr_telefonu}}
                    </td>

                    <td class="align-middle">
                        {{i.specjalizacja}}
                    </td>


                    <td class="align-middle" style="text-align: center">
                        <a class="btn btn-info" href="{{ url_for('profillekarza',
                        lekarz_id=i.id, pacjent_id=session.id, pacjent_imie=session.imie, pacjent_nazwisko=session.nazwisko,
                        lekarz_imie=i.imie, lekarz_nazwisko=i.nazwisko) }}" >Zobacz profil</a>
                    </td>

                    {% if session.logged_inP %}

                    <td class="align-middle" style="text-align: center">
                        <a class="btn btn-success"  href="{{ url_for('chat',
                        lekarz_id=i.id, pacjent_id=session.id, pacjent_imie=session.imie, pacjent_nazwisko=session.nazwisko,
                        lekarz_imie=i.imie, lekarz_nazwisko=i.nazwisko, chat_type='pacjent')}}" >Rozpocznij konsultacje</a>
                    </td>

                    {% elif session.logged_inL%}

                    <td class="align-middle" style="text-align: center">
                        <a class="btn btn-success"  href="{{ url_for('chat',
                        lekarz_id=i.id, pacjent_id=session.id, pacjent_imie=session.imie, pacjent_nazwisko=session.nazwisko,
                        lekarz_imie=i.imie, lekarz_nazwisko=i.nazwisko, chat_type='lekarz')}}" >Rozpocznij konsultacje</a>
                    </td>

                    {% else %}

                    <td class="align-middle" style="text-align: center">
                        <a class="btn btn-warning"  onclick="myFunction()" href="{{ url_for('zalogujsie') }}">Zaloguj się aby rozpocząć konsultację</a>
                    </td>

                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});



</script>

{% endblock %}

{% block sidebar %}
{% endblock %}

