{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
<div class="row rowlekarz1">

    <div class="col-md-12" style="background-image: url('../static/img/background.jpg'); background-repeat: no-repeat; background-size: auto;">



    </div>

</div>

<div class="row rowlekarz2">

    <div class="col-md-4 profillekarzatile1">
        <span class="profillekarzaimienazwisko"><h3> {{dane_lekarza.imie}} {{dane_lekarza.nazwisko}}</h3><h5>{{dane_lekarza.specjalizacja}}</h5></span>
        <img src="../static/img/LekarzDuzy.jpg" class="img-fluid rounded-circle profillekarzapicture"><br>
    </div>

    <div class="col-md-8 profillekarzatile2">
        <span><h4><i class="fas fa-map-marker-alt"></i> Przychodnia Lekarska Zdrowotna, ul. Szpitalna 30</h4></span><br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>

        {% if session['logged_inL'] or session['logged_inP'] %}

        <a class="btn btn-success"  href="{{ url_for('chat',
                            lekarz_id=dane_lekarz.id, pacjent_id=dane_pacjent.id, pacjent_imie=dane_pacjent.imie, pacjent_nazwisko=dane_pacjent.nazwisko,
                            lekarz_imie=dane_lekarz.imie, lekarz_nazwisko=dane_lekarz.nazwisko, chat_type=chat_type)}}" >Rozpocznij konsultacje</a>
        {% else %}
        <td class="align-middle" style="text-align: center">
            <a class="btn btn-warning"  href="{{ url_for('zalogujsie') }}">Zaloguj się aby rozpocząć konsultację</a>
        </td>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>