{% extends "lekarz.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
    {{ super() }}

{% endblock %}

{% block profile %}

    <div class="table-responsive mojatabela">
        <h1 style="text-align: center"> Twoje Porady </h1>
        <hr>
        <table class="table table-striped table-rounded">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th></th>
                    <th>Lekarz</th>
                    <th>Wróć do rozmowy</th>
                </tr>
            </thead>
            {% for i in konsultacje %}
                <tr class="text-center">
                    <td class="align-middle"><img src="../static/img/lekarz.jpg" style="border-radius: 50%"></td>
                    <td class="align-middle">{{i.imie}} {{i.nazwisko}}</td>
                    <td class="align-middle"><a class="btn btn-success" href="{{ url_for('chat',
                            lekarz_id=i.id, pacjent_id=session.id, pacjent_imie=session.imie, pacjent_nazwisko=session.nazwisko,
                            lekarz_imie=i.imie, lekarz_nazwisko=i.nazwisko, chat_type=chat_type)}}" >Kontynuuj rozmowę </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}