{% extends "lekarz.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
    {{super()}}

{% endblock %}

{% block profile %}
<div class="table-responsive mojatabela">
        <h1 style="text-align: center"> Twoje konsultacje </h1>
        <table class="table table-striped table-rounded">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th></th>
                    {% if session['logged_inL'] %}
                    <th>Pacjent</th>
                    {% else %}
                    <th>Lekarz</th>
                    {% endif %}
                    <th>Numer telefonu</th>
                    <th style="text-align: center">Wróć do rozmowy</th>
                </tr>
            </thead>
            {% for i in konsultacje %}
                <tr class="text-center">
                    <td><img src="../static/img/lekarz.jpg" style="border-radius: 50%"></td>
                    <td class="align-middle">{{i.imie}} {{i.nazwisko}}</td>
                    <td class="align-middle">{{ chat_type }}</td>
                    {% if session.logged_inP %}

                    <td class="align-middle" style="text-align: center">
                        <a class="btn btn-success"  href="{{ url_for('chat',
                            lekarz_id=i.get('lekarz.id'), pacjent_id=session.id, pacjent_imie=session.imie, pacjent_nazwisko=session.nazwisko,
                            lekarz_imie=i.imie, lekarz_nazwisko=i.nazwisko, chat_type=chat_type)}}" >Rozpocznij konsultacje</a>
                    </td>

                    {% elif session.logged_inL%}

                    <td class="align-middle" style="text-align: center">
                        <a class="btn btn-success"  href="{{ url_for('chat',
                            lekarz_id=session.id, pacjent_id=i.get('pacjent.id'), pacjent_imie=i.imie, pacjent_nazwisko=i.nazwisko,
                            lekarz_imie=session.imie, lekarz_nazwisko=session.nazwisko, chat_type=chat_type)}}" >Rozpocznij konsultacje</a>
                    </td>

                    {% endif %}#}
                </tr>
            {% endfor %}

        </table>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
