{% extends "base.html" %}

{% block title %}
Załóż konto 'Lekarz'
{% endblock %}

{% block content %}

{% from "includes/_formhelpers.html" import render_field %}

{% from "includes/_formhelpers.html" import render_field %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset style= "margin: 2% 25% 2% 25%">
            <legend class="border-bottom">Załóż konto jako lekarz</legend>

            <div class="form-group">
                    {{ form.imie.label(class="form-control-label") }}
                    {% if form.imie.errors %}
                        {{ form.imie(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.imie.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.imie(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.nazwisko.label(class="form-control-label") }}
                    {% if form.nazwisko.errors %}
                        {{ form.nazwisko(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nazwisko.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nazwisko(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.nrtelefonu.label(class="form-control-label") }}
                    {% if form.nrtelefonu.errors %}
                        {{ form.nrtelefonu(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nrtelefonu.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nrtelefonu(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.pesel.label(class="form-control-label") }}
                    {% if form.pesel.errors %}
                        {{ form.pesel(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pesel.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pesel(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.specjalizacja.label(class="form-control-label") }}
                    {% if form.specjalizacja.errors %}
                        {{ form.specjalizacja(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.specjalizacja.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.specjalizacja(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.nrPrawaWykonywaniaZawodu.label(class="form-control-label") }}
                    {% if form.nrPrawaWykonywaniaZawodu.errors %}
                        {{ form.nrPrawaWykonywaniaZawodu(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nrPrawaWykonywaniaZawodu.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nrPrawaWykonywaniaZawodu(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.login.label(class="form-control-label") }}
                    {% if form.login.errors %}
                        {{ form.login(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.login.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.login(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.haslo.label(class="form-control-label") }}
                    {% if form.haslo.errors %}
                        {{ form.haslo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.haslo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.haslo(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.potwierdz.label(class="form-control-label") }}
                    {% if form.potwierdz.errors %}
                        {{ form.potwierdz(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.potwierdz.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.potwierdz(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
        <p><input type="submit" class="btn btn-primary" value="Zarejestruj"></p>
        </fieldset>
    </form>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}